#box
{
    background-color: rgb(0, 157, 255);
}
.heading
{
    color: red;
    font font-style: ;
    
}

button
{
    background-color: green;
    
}
p{
    text-align: center;
}
#one
{
    font-family: 'Courier New', Courier, monospace;
}
#two
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: normal;
    

}
#three z
{
    font-size: 50px;
}
